{% extends "gtb/layout.html" %}
{% load filter %}
{% load static %}

{% block title %}Alterar Gerentes{% endblock %}

{% block head %}
    <link href="{% static 'gtb/acoes.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    {% if messages %}
        {% for message in messages %}
            <h3 class="{{ message.tags }}">{{ message }}</h3>
        {% endfor %}
    {% endif %}

    <form action="{% url 'alterarGerentes' %}" method="post">
        <div class="formDiv">
            {% csrf_token %}

            <div class="divComprarAcoes">
                <input class="textoProcurarAcao" type="text" name="ID" placeholder="ID">
                <input class="textoProcurarAcao" type="text" name="CPF" placeholder="Novo CPF">
                <input class="textoProcurarAcao" type="text" name="nome_completo" placeholder="Novo nome">
                <input class="textoProcurarAcao" type="text" name="email" placeholder="Novo e-mail">
                <button class="botaoProcurarAcao" type="submit" name="botaoVenderAcao">Atualizar</button>
            </div>
            <div class="tableDiv">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>CPF</th>
                            <th>E-mail</th>
                            <th>Agencia</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dadosVar in dados_gerentePF %}
                            <tr>
                                <td>{{ dadosVar.id }}</td>
                                <td>{{ dadosVar.nome_completo }}</td>
                                <td>{{ dadosVar.CPF }}</td>
                                <td>{{ dadosVar.user.email }}</td>
                                <td>{{ dadosVar.agencia_id }} - {{ dados_gerentePF.agencia_id }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        
    </form>

{% endblock %}
