{% extends "gtb/layout.html" %}
{% load filter %}
{% load static %}

{% block title %}Mudar PF{% endblock %}

{% block head %}
    <link href="{% static 'gtb/acoes.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    {% if messages %}
        {% for message in messages %}
            <h3 class="{{ message.tags }}">{{ message }}</h3>
        {% endfor %}
    {% endif %}

    <form action="{% url 'atualizarPF' %}" method="post">
        <div class="formDiv">
            {% csrf_token %}
            <div class="divComprarAcoes">
                <input class="textoProcurarAcao" type="text" name="ID" placeholder="ID">
                <input class="textoProcurarAcao" type="text" name="CPF" placeholder="Novo CPF">
                <input class="textoProcurarAcao" type="text" name="telefone" placeholder="Novo telefone">
                <input class="textoProcurarAcao" type="text" name="nome_completo" placeholder="Novo nome completo">
                <input class="textoProcurarAcao" type="text" name="email" placeholder="Novo e-mail">
                <button class="botaoProcurarAcao" type="submit" name="botaoVenderAcao">Atualizar</button>
            </div>
            <div class="tableDiv">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>CPF</th>
                            <th>Nome completo</th>
                            <th>Telefone</th>
                            <th>E-mail</th>
                            <th>Saldo da conta</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pf in pessoasFisicas %}
                            <tr>
                                <td>{{ pf.user_id }}</td>
                                <td>{{ pf.CPF }}</td>
                                <td>{{ pf.nome_completo }}</td>
                                <td>{{ pf.telefone }}</td>
                                <td>{{ pf.user.email }}</td>
                                <td>R$ {{ pf.saldo_da_conta }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </form>

{% endblock %}
