{% extends "gtb/layout.html" %}
{% load filter %}
{% load static %}

{% block title %}GTB Lautpac{% endblock %}


{% block head %}
    <link href="{% static 'gtb/acoes.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    {% if messages %}
        {% for message in messages %}
            <h3 class="{{ message.tags }}">{{ message }}</h3>
        {% endfor %}
    {% endif %}
    <div class="info">
        <h2>Seus dados</h2>
        {{ cliente.nome_completo }}, você tem R${{ cliente.saldo_da_conta }} na sua conta, você deverá pagar 
        o empréstimo em até 30 dias<br>
    </div>
    <div class="info">
        <h2>Empréstimo</h2>
        <p> Qual valor você gostaria de pedir ? <p>
        <form action="{% url 'emprestimoparaPF' %}" method="post">
            {% csrf_token %}

            <input class="bidInput" type="number" name="valor" placeholder="Valor (R$)">
            <button type="submit" class="botaoProcurarGerente">Fazer Empréstimo</button>

        </form>
    </div>
{% endblock %}
