{% extends "gtb/layout.html" %}
{% load filter %}
{% load static %}

{% block title %}Ações{% endblock %}

{% block head %}
    <link href="{% static 'gtb/acoes.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    {% if messages %}
        {% for message in messages %}
            <h3 class="{{ message.tags }}">{{ message }}</h3>
        {% endfor %}
    {% endif %}

    <form action="{% url 'historicoacoes' %}" method="post">
        <div class="formDiv">
            {% csrf_token %}
            <div class="divComprarAcoes">
                <input class="textoProcurarAcao" type="text" name="venderAcao" placeholder="Nome do Ticker">
                <button class="botaoProcurarAcao" type="submit" name="botaoVenderAcao">Vender</button>
            </div>

        <div class="tableDiv">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Ação</th>
                        <th>Valor</th>
                        <th>Volume</th>
                        <th>Horario</th>
                    </tr>
                </thead>
                <tbody>
                    {% for acao in acoes %}
                        <tr>
                            <td>{{ acao.id }}</td>
                            <td>{{ acao.nome }}</td>
                            <td>R$ {{ acao.valor }}</td>
                            <td>{{ acao.volume }}</td>
                            <td>{{ acao.horario }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </form>

{% endblock %}
