{% extends "gtb/layout.html" %}
{% load filter %}
{% load static %}

{% block title %}GTB Lautpac{% endblock %}


{% block body %}
    {% if cliente or user.is_authenticated %}
        {% if user.is_pessoaFisica %}
            <div class="info">
                <p>Olá, <b>{{ cliente.nome_completo }}</b>!<br>
                Seu saldo é <b>R${{ cliente.saldo_da_conta }}</b>  <br></p>
                <p>Você é uma Pessoa Física</p>
            </div>
            <div class="info">
                <h2>Seus dados</h2>
                <b>Seu CPF é:</b> {{ cliente.CPF }} <br>
                <b>Seu telefone é:</b> {{ cliente.telefone }} <br>
                <b>Seu email é:</b> {{ user.email }} <br>
            </div>
        {% elif user.is_pessoaJuridica %}
            <div class="info">
                <p>Olá, <b>{{ cliente.nome_da_empresa }}</b>!<br>
                Seu saldo é <b>R${{ cliente.saldo_da_conta }}</b>  <br></p>
                <p> Você é uma Pessoa Jurídica </p>
            </div>
            <div class="info">
                <h2>Seus dados</h2>
                <b>Sua empresa é:</b>  {{ cliente.nome_da_empresa }} <br>
                <b>Seu setor é:</b>  {{ cliente.setor }} <br>
                <b>Seu CNPJ é:</b>  {{ cliente.CNPJ }} <br>
                <b>Seu telefone é:</b>  {{ cliente.telefone }} <br>
                <b>Seu email é:</b>  {{ user.email }} <br>
            </div>
        {% elif user.is_gerentePF %}
            <div class="info">
                <p>Olá, Gerente de PF <b>{{ cliente.CPF }}</b>!<br>
            </div>
        {% elif user.is_gerentePJ %}
            <div class="info">
                <p>Olá, Gerente de PJ <b>{{ cliente.CPF }}</b>!<br>
            </div>
        {% else %}
            <div class="info">
                <p>Olá, Agência da Cidade <b>{{ cliente.cidade }}</b>!<br>
            </div>
        {% endif %}
    {% endif %}



{% endblock %}
