{% extends "gtb/layout.html" %}
{% load filter %}
{% load static %}

{% block title %}GTB Lautpac{% endblock %}


{% block body %}
    {% if cliente or user.is_authenticated %}
        {% if user.is_pessoaFisica %}
            <div class="info">
                <p>Olá, <b>{{ cliente.nome_completo }}</b>!<br>
                Seu saldo é <b>R${{ cliente.saldo_da_conta }}</b>  <br></p>
                <p> Você é uma Pessoa Física </p>
            </div>
            <div class="info">
                <h2>Seus dados</h2>
                Seu CPF é: {{ cliente.CPF }} <br>
                Seu telefone é: {{ cliente.telefone }} <br>
                Seu email é: {{ user.email }} <br>
            </div>
        {% else %}
            <div class="info">
                <p>Olá, <b>{{ cliente.nome_da_empresa }}</b>!<br>
                Seu saldo é <b>R${{ cliente.saldo_da_conta }}</b>  <br></p>
                <p> Você é uma Pessoa Jurídica </p>
            </div>
            <div class="info">
                <h2>Seus dados</h2>
                Sua empresa é: {{ cliente.nome_da_empresa }} <br>
                Seu setor é: {{ cliente.setor }} <br>
                Seu CNPJ é: {{ cliente.CNPJ }} <br>
                Seu telefone é: {{ cliente.telefone }} <br>
                Seu email é: {{ user.email }} <br>
            </div>
        {% endif %}
    {% else %}
       
    {% endif %}



{% endblock %}
