{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}GTB Lautpac{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'gtb/layout.css' %}" rel="stylesheet">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        {% if user.is_authenticated %}
            <div class="header">
                <div class="logoDivheader">
                    <img src="{% static 'gtb/btg.png' %}" class="logoheader">
                </div>
            </div>

            <div class="infoAcoes">
                {% if user.is_pessoaFisica %}
                    <a href="{% url 'fazerdepositoPF' %}">Fazer depósito</a>
                {% elif user.is_pessoaJuridica %}
                    <a href="{% url 'fazerdepositoPJ' %}">Fazer depósito</a>
                {% endif %}
                {% if user.is_pessoaFisica %}
                    <a href="{% url 'fazersaquePF' %}">Fazer saque</a>
                {% elif user.is_pessoaJuridica%}
                    <a href="{% url 'fazersaquePJ' %}">Fazer saque</a>
                {% endif %}
                {% if user.is_pessoaFisica %}
                    <a href="{% url 'transferenciaPFparaPJ' %}">Transferência para PJ</a>
                    <a href="{% url 'transferenciaPFparaPF' %}">Transferência para PF</a>
                {% elif user.is_pessoaJuridica%}
                    <a href="{% url 'transferenciaPJparaPJ' %}">Transferência para PJ</a>
                    <a href="{% url 'transferenciaPJparaPF' %}">Transferência para PF</a>
                {% endif %}
                {% if user.is_pessoaFisica %}
                    <a href="{% url 'acoes' %}">Ações</a>
                    <a href="{% url 'historicoacoes' %}">Minhas Ações</a>
                    <a href="{% url 'historicotransferenciasPF' %}">Transferências</a>
                {% elif user.is_pessoaJuridica%}
                    <a href="{% url 'historicotransferenciasPJ' %}">Transferências</a>
                {% endif %}

                {% if user.is_agencia %}
                    <a href="{% url 'alterarGerentes' %}">Alterar Gerentes</a>
                    {% comment %} <a href="{% url 'verificaClientes' %}"></a> {% endcomment %}
                {% endif %}
                {% if user.is_gerentePF %}
                    <a href="{% url 'atualizarPF' %}">Alterar PF</a>
                    <a href="{% url 'removePF' %}">Remover PF</a>
                {% endif %}
                

                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'logout' %}">Log Out</a>
            </div>

        {% endif %}
        {% if home and not user.is_authenticated %}
            <div class="nav">
                <div class="homeLoginRegistrar">
                    <div class="logoDiv">
                        <img src="{% static 'gtb/btg.png' %}" class="logo">
                    </div>
            
                    <div class="loginDiv">
                        <a href="{% url 'login' %}">
                            <input class="botaoLogin" type="submit" value="Entrar">
                        </a>
                    </div>
                </div>
                <div class="homeRegistrar">
                    <h2> <b>Cadastre-se hoje gratuitamente</b> </h2>
                    <h3> Selecione o tipo de conta que você quer criar </h3>
            
                    <div class= "botoesRegistrar">
                        <a href="{% url 'registrarPF' %}">
                            <input class="botaoRegistraPessoaFisica" type="submit" value="Eu sou Pessoa Física">
                        </a>
                        <a href="{% url 'registrarPJ' %}">
                            <input class="botaoRegistraPessoaJuridica" type="submit" value="Eu sou Pessoa Jurídica">
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="center">
            {% block body %}
            {% endblock %}
        </div>
        
    </body>
</html>
