{% extends "gtb/layout.html" %}
{% load filter %}
{% load static %}

{% block title %}GTB Lautpac{% endblock %}

{% block head %}
    <link href="{% static 'gtb/acoes.css' %}" rel="stylesheet">
{% endblock %}


    {% block body %}
        {% if messages %}
            {% for message in messages %}
                <h3 class="{{ message.tags }}">{{ message }}</h3>
            {% endfor %}
        {% endif %}
        <form action="{% url 'renegociarEmprestimoPF' %}" method="post">
            <div class="formDiv">
                {% csrf_token %}
                <div class="divComprarAcoes">
                <input class="textoProcurarAcao" type="text" name="ID" placeholder="ID">
                <input class="textoProcurarAcao" type="text" name="data" placeholder="Dias a mais">
                <input class="textoProcurarAcao" type="number" name="valor" placeholder="Novo Valor">
                <button class="botaoProcurarAcao" type="submit" name="botaoVenderAcao">Renegociar</button>
            </div>
            <div class="tableDiv">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>CPF</th>
                            <th>Valor</th>
                            <th>Vencimento</th>
                            <th>Data de Empréstimo</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for emprestimo in emprestimos %}
                            <tr>
                                <td>{{ emprestimo.id }}</td>
                                <td>{{ emprestimo.CPF_CNPJ }}</td>
                                <td>R$ {{ emprestimo.valor }}</td>
                                <td>{{ emprestimo.vencimento }}</td>
                                <td>{{ emprestimo.data_de_emprestimo }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </form>
    
    
{% endblock %}
