{% extends "gtb/layout.html" %}
{% load filter %}
{% load static %}

{% block title %}GTB Lautpac{% endblock %}

{% block head %}
    <link href="{% static 'gtb/acoes.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    {% if messages %}
        {% for message in messages %}
            <h3 class="{{ message.tags }}">{{ message }}</h3>
        {% endfor %}
    {% endif %}
    
    {% if cliente or user.is_authenticated %}
        {% if user.is_pessoaFisica %}
            <div class="info">
                <p>Olá, <b>{{ cliente.nome_completo }}</b>!<br>
                Seu saldo é <b>R${{ cliente.saldo_da_conta }}</b>  <br></p>
                <p> Você é uma Pessoa Física </p>
            </div>
            <div class="info">
                <h2>Seus dados</h2>
                Seu CPF é: {{ cliente.CPF }} <br>
                Seu telefone é: {{ cliente.telefone }} <br>
                Seu email é: {{ user.email }} <br>
            </div>
            <div class="info">
                <h2>Saque</h2>
                <form action="{% url 'fazersaquePF' %}" method="post">
                    {% csrf_token %}

                        <input class="bidInput" type="number" name="valor" placeholder="Valor (R$)">
                        <button type="submit" class="botaoProcurarGerente">Sacar</button>

                </form>
            </div>
        {% else %}
                
            <div class="info">
                <p>Olá, <b>{{ cliente.nome_da_empresa }}</b>!<br>
                Seu saldo é <b>R${{ cliente.saldo_da_conta }}</b>  <br></p>
                <p> Você é uma Pessoa Jurídica </p>
            </div>
            <div class="info">
                <h2>Saque</h2>
                <form action="{% url 'fazersaquePJ' %}" method="post">
                    {% csrf_token %}
                    <div>
                        <input class="bidInput" type="number" name="valor" placeholder="Valor (R$)">
                    </div>
                    <div class="button">
                        <button type="submit" class="botaoProcurarAcao">Sacar</button>
                    <div>
                </form>
            </div>
        {% endif %}

    {% else %}
       

    {% endif %}
    
    
{% endblock %}
