{% extends "gtb/layout.html" %}
{% load filter %}
{% load static %}

{% block title %}GTB Lautpac{% endblock %}


{% block body %}
    {% if cliente %}
        {% if user.is_pessoaFisica %}

            <div class="info">
                <p>Olá, <b>{{ cliente.nome_completo }}</b>!<br>
                Seu saldo é <b>R${{ cliente.saldo_da_conta }}</b>  <br></p>
                <p> Você é uma Pessoa Física </p>
            </div>
            <div class="info">
                <h2>Seus dados</h2>
                Seu CPF é: {{ cliente.CPF }} <br>
                Seu telefone é: {{ cliente.telefone }} <br>
                Seu email é: {{ user.email }} <br>
            </div>
            <div class="info">
                <h2>Transferencia</h2>
                <form action="{% url 'transferenciaPFparaPJ' %}" method="post">
                    {% csrf_token %}
                    <div>
                        <input class="bidInput" type="number" name="valor" placeholder="Valor (R$)">
                        <input class="bidInput" type="text" name="CNPJ" placeholder="CNPJ">
                    </div>
                    <div class="button">
                        <button type="submit">Transferir</button>
                    <div>
                </form>
            </div>
        {% else %}

            <div class="info">
                <p>Olá, <b>{{ cliente.nome_da_empresa }}</b>!<br>
                Seu saldo é <b>R${{ cliente.saldo_da_conta }}</b>  <br></p>
                <p> Você é uma Pessoa Jurídica </p>
            </div>
            <div class="info">
                <h2>Transferencia</h2>
                <form action="{% url 'transferenciaPJparaPJ' %}" method="post">
                    {% csrf_token %}
                    <div>
                        <input class="bidInput" type="number" name="valor" placeholder="Valor (R$)">
                        <input class="bidInput" type="text" name="CNPJ" placeholder="CNPJ">
                    </div>
                    <div class="button">
                        <button type="submit">Transferir</button>
                    <div>
                </form>
            </div>
        {% endif %}


    {% else %}
       
    {% endif %}
    
    
{% endblock %}
