.textoProcurarAcao {
    width: 150px;
    height: 40px;
    margin-right: 10px;
    border-radius: 5px;
    padding-left: 5px;
    font-size: 16px;
}

.divComprarAcoes {
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 80vw;
    
}
.botaoProcurarAcao {
    background-color: #195ab4;
    color: white;
    border-radius: 5px;
    border: none;
    padding-left: 5px;
    padding-right: 5px;
    height: 40px;
    font-size: 16px;
}

.textoQuantidadeAcao {
    width: 120px;
    height: 40px;
    margin-right: 10px;
    border-radius: 5px;
    padding-left: 5px;
    font-size: 16px;
}

.botaoHome {
    background-color: #e9e9ed;
    color: black;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    font-size: 16px;
}

.formDiv {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.formDivAlterarGerente {
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.divSelecionarGerente {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.divSelecionarGerente {
    width: auto;
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.botaoProcurarGerente {
    background-color: #195ab4;
    color: white;
    border-radius: 5px;
    border: none;
    padding-left: 5px;
    padding-right: 5px;
    height: 30px;
    font-size: 16px;
}

.gerentesPFDropDown {
    background-color: #e9e9ed;
    color: black;
    border-radius: 5px;
    border: none;
    padding-left: 5px;
    padding-right: 5px;
    height: 30px;
    font-size: 16px;
}

.gerentesPJDropDown {
    background-color: #e9e9ed;
    color: black;
    border-radius: 5px;
    border: none;
    padding-left: 5px;
    padding-right: 5px;
    height: 30px;
    font-size: 16px;
}

.botoesAcoes {
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
}

.procurarDiv {
    width: 100%;
}
.tableDiv{
    padding-top: 10px;
    width: 100%;
}
table {
    background-color: white;
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 20px;
}

table th,
table td {
    padding: 0.75rem;
    vertical-align: middle;
}

tbody tr:nth-of-type(odd) {
    background-color: rgb(179, 208, 255, 0.3)
}

tfoot th {
    text-align: left;
  }

.success {
    font: 10px;
    color: rgb(47, 194, 71);
}
