body {
    padding: 0px;
    margin: 0;
    background-color: #d2e5ff;
    width: 100%;
}
.logoheader {
    width: 20%;
}

.logoDivheader {
    padding: 20px;
    width: 80vw;
}

.info {
    width: 80vw;
    background-color: white;
    background-image: linear-gradient(to right, #ffffff, #d2e5ff);
    border-radius: 12px;
    margin-bottom: 12px;
    padding: 12px;

}

.infoAcoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding-bottom: 10px;
    padding-left: 10%;
    padding-right: 10%;
}

.header {
    width: 100%;
    height: auto;
    background-color: #d2e5ff; /* fallback color */
    background-image: linear-gradient(to bottom, #ffffff, #d2e5ff); /* gradient */
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 12px;
    align-items: center;
}

.error {
    font: 10px;
    color: rgb(219, 71, 71);
}


.bids {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginRegisterBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
}








.logo {
    width: 30%;
}

.logoDiv {
    padding-bottom: 10px;
}

.homeRegistrar {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    padding: 30px;
}

.botoesRegistrar {
    display: flex;
    flex-direction: row;
    align-items: left;
    gap: 20px;
}

.botaoRegistraPessoaFisica {
    background-color: #05132a;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 20px;
    font-size: 20px;
}

.botaoRegistraPessoaJuridica {
    background-color: #0b2859;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 20px;
    font-size: 20px;
}

.nav {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
}

.homeLoginRegistrar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.loginRegistra {
    display: flex;
    flex-direction: row;
}

.botaoLogin {
    background-color: #195ab4;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 20px;
}


